/* This is temporary for tree panel plugin till we figure it out 
 * how to apply lots of styles globally over Grafana and installed plugins. 
 * So we should keep this for now, after that just REMOVE this file and its reference. 
 */

/* 'tpp' stands for 'Tree Panel Plugin' just to make it unique from Grafana 'toolbar' class name. */

/* Button */
.tpp--button.primary {
  background-color: #e6effe;
  border-radius: 5px;
  height: 32px;
}

/* Button hover */
.tpp--button.primary:hover {
  box-shadow: rgb(24 26 27 / 20%) -2px 3px 5px;
}

/* Button title */
.tpp--button.primary span {
  color: #1979ff;
  font-size: 16px;
  padding: 5px;
}
