.tpp--tree-node--icon svg {
  width: 16px;
  height: 16px;
}

.tpp--tree-node--checkbox-title {
  color: #455569;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
  white-space: nowrap;
  max-width: 200px;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
