/* 'tpp' stands for 'Tree Panel Plugin' just to make it unique from Grafana class names. */
.tpp-horizontal-separator {
  background-color: #ededed;
  width: calc(100% - 8px);
  height: 1px;
  margin: 16px 4px;
}
